In [1]:
import os
import os.path
import sys
from pathlib import Path
sys.path.insert(0, '..')
from elitetools import eddb
eddb.load_feeds()

# Found "C:\Users\komin\AppData\Local\Temp\elite-tools\archive-v6-commodities.json".
# Feeds.COMMODITIES records loaded:  373
# Found "C:\Users\komin\AppData\Local\Temp\elite-tools\archive-v6-listings.csv".
# Feeds.PRICES records loaded:  4189932
# Found "C:\Users\komin\AppData\Local\Temp\elite-tools\archive-v6-factions.jsonl".
# Feeds.FACTIONS records loaded:  77156
# Found "C:\Users\komin\AppData\Local\Temp\elite-tools\archive-v6-systems_populated.jsonl".
# Feeds.POPULATED_SYSTEMS records loaded:  20568
# Found "C:\Users\komin\AppData\Local\Temp\elite-tools\archive-v6-stations.jsonl".
# Feeds.STATIONS records loaded:  76251
# Scraping "C:\Users\komin\AppData\Local\Temp\elite-tools\scraped_listings.jsonl".
# Alexandrite: 25 listings scraped.
# Benitoite: 25 listings scraped.
# Bromellite: 25 listings scraped.
# Grandidierite: 25 listings scraped.
# Low Temperature Diamonds: 25 listings scraped.
# Monazite: 25 listings scraped.
# Musgravite: 25 listings scraped.
# Painite: 25 listings scraped.
# Platinum: 25 listings scraped.
# Rhodplumsite: 25 listings scraped.
# Serendibite: 25 listings scraped.
# Tritium: 25 listings scraped.
# Void Opals: 25 listings scraped.
# Real-time listing records loaded:  325

## Best Low Temperature Diamond Listings ##

In [2]:
eddb.best_rt_listings("Mosche", (259-0), top_count=10, by_commodity=['Low Temperature Diamonds'], min_demand=400)

,Commodity,Sell Price,Demand,As Of,Distance,System,Station,Pad
0,Low Temperature Diamonds,1159440,5560,10 mins,166.4,IV Comae Berenices,Litke Dock,L
1,Low Temperature Diamonds,1144280,25920,4 hours,92.8,LHS 1020,Babakin Terminal,L
2,Low Temperature Diamonds,1144280,25920,14 mins,92.8,LHS 1020,Ziewe Terminal,L
3,Low Temperature Diamonds,1144280,25920,45 mins,92.8,LHS 1020,Arfstrom City,L
4,Low Temperature Diamonds,1140130,2442,5 mins,251.3,Obassi Osaw,Teller Horizons,L
5,Low Temperature Diamonds,1032491,2484,3 hours,137.4,LP 493-64,Ramanujan Hub,L
6,Low Temperature Diamonds,1032491,907,6 hours,137.4,LP 493-64,Fossey Gateway,M
7,Low Temperature Diamonds,1001697,1476,15 hours,125.3,Primi,Shimizu Gateway,M
8,Low Temperature Diamonds,1001697,2135,13 hours,125.3,Primi,Flettner Ring,L
9,Low Temperature Diamonds,961988,2598,6 hours,148.9,Khowatsu,Smith Port,L

## Best Painite Listings ##

In [3]:
eddb.best_rt_listings("Exioce", 210, top_count=10, by_commodity=['Painite'], min_demand = 200)

,Commodity,Sell Price,Demand,As Of,Distance,System,Station,Pad
0,Painite,792088,1276,21 mins,177.8,HIP 14211,Williams Dock,L
1,Painite,792088,1546,5 mins,180.1,Obassi Osaw,Teller Horizons,L
2,Painite,792088,890,5 hours,109.3,Moram,Tapinas Ring,L
3,Painite,656538,3146,3 hours,160.9,LP 493-64,Ramanujan Hub,L
4,Painite,656538,1150,6 hours,160.9,LP 493-64,Fossey Gateway,M
5,Painite,646899,403,6 hours,109.3,Moram,Ziemianski Dock,M

## Best Void Opal Listings ##

In [4]:
eddb.best_rt_listings("Vindinepu", (259-38), top_count=10, by_commodity=['Void Opals'], min_demand=400)

,Commodity,Sell Price,Demand,As Of,Distance,System,Station,Pad
0,Void Opals,1385516,4716,11 mins,142.9,IV Comae Berenices,Litke Dock,L
1,Void Opals,1366748,5184,14 mins,108.9,LHS 1020,Ziewe Terminal,L
2,Void Opals,1366748,5184,45 mins,108.9,LHS 1020,Arfstrom City,L
3,Void Opals,1366748,5184,4 hours,108.9,LHS 1020,Babakin Terminal,L
4,Void Opals,1365184,1090,9 hours,135.2,Goller,Ban Enterprise,L
5,Void Opals,1365184,902,1 days,135.2,Goller,Shaw Port,M
6,Void Opals,1365184,712,6 hours,65.7,Kamuy,Ockels Terminal,L

## Best Core-Only Mineral Listings in Known Space ##

In [5]:
eddb.best_rt_listings('Azrael', 0, top_count=5, by_commodity=eddb.core_only_minerals)

,Commodity,Sell Price,Demand,As Of,Distance,System,Station,Pad
0,Void Opals,1385516,4716,11 mins,206.3,IV Comae Berenices,Litke Dock,L
1,Void Opals,1385516,4716,11 mins,206.3,IV Comae Berenices,Litke Dock,L
2,Void Opals,1385516,4716,11 mins,206.3,IV Comae Berenices,Litke Dock,L
3,Void Opals,1385516,4716,11 mins,206.3,IV Comae Berenices,Litke Dock,L
4,Void Opals,1385516,4716,11 mins,206.3,IV Comae Berenices,Litke Dock,L
5,Benitoite,1191593,1070,2 hours,397.9,Atlas,Cyllene Orbital,L
6,Benitoite,1191593,1070,2 hours,397.9,Atlas,Cyllene Orbital,L
7,Benitoite,1191593,1070,2 hours,397.9,Atlas,Cyllene Orbital,L
8,Benitoite,1191593,1070,2 hours,397.9,Atlas,Cyllene Orbital,L
9,Benitoite,1191593,1070,2 hours,397.9,Atlas,Cyllene Orbital,L
10,Serendibite,954200,1070,2 hours,397.9,Atlas,Cyllene Orbital,L
11,Serendibite,954200,1070,2 hours,397.9,Atlas,Cyllene Orbital,L
12,Serendibite,954200,1070,2 hours,397.9,Atlas,Cyllene Orbital,L
13,Serendibite,954200,1070,2 hours,397.9,Atlas,Cyllene Orbital,L
14,Serendibite,954200,1070,2 hours,397.9,Atlas,Cyllene Orbital,L
15,Musgravite,834486,1070,2 hours,397.9,Atlas,Cyllene Orbital,L
16,Musgravite,834486,1070,2 hours,397.9,Atlas,Cyllene Orbital,L
17,Musgravite,834486,1070,2 hours,397.9,Atlas,Cyllene Orbital,L
18,Musgravite,834486,1070,2 hours,397.9,Atlas,Cyllene Orbital,L
19,Musgravite,834486,1070,2 hours,397.9,Atlas,Cyllene Orbital,L
20,Grandidierite,780464,1070,2 hours,397.9,Atlas,Cyllene Orbital,L
21,Grandidierite,780464,1070,2 hours,397.9,Atlas,Cyllene Orbital,L
22,Grandidierite,780464,1070,2 hours,397.9,Atlas,Cyllene Orbital,L
23,Grandidierite,780464,1070,2 hours,397.9,Atlas,Cyllene Orbital,L
24,Grandidierite,780464,1070,2 hours,397.9,Atlas,Cyllene Orbital,L
25,Alexandrite,552823,1070,2 hours,397.9,Atlas,Cyllene Orbital,L
26,Alexandrite,552823,1070,2 hours,397.9,Atlas,Cyllene Orbital,L
27,Alexandrite,552823,1070,2 hours,397.9,Atlas,Cyllene Orbital,L
28,Alexandrite,552823,1070,2 hours,397.9,Atlas,Cyllene Orbital,L
29,Alexandrite,552823,1070,2 hours,397.9,Atlas,Cyllene Orbital,L
30,Monazite,336742,3749,3 hours,199.2,LHS 2936,Fraser Orbital,L
31,Monazite,336742,3749,3 hours,199.2,LHS 2936,Fraser Orbital,L
32,Monazite,336742,3749,3 hours,199.2,LHS 2936,Fraser Orbital,L
33,Monazite,336742,3749,3 hours,199.2,LHS 2936,Fraser Orbital,L
34,Monazite,336742,3749,3 hours,199.2,LHS 2936,Fraser Orbital,L
35,Rhodplumsite,315732,2088,3 hours,199.2,LHS 2936,Fraser Orbital,L
36,Rhodplumsite,315732,2088,3 hours,199.2,LHS 2936,Fraser Orbital,L
37,Rhodplumsite,315732,2088,3 hours,199.2,LHS 2936,Fraser Orbital,L
38,Rhodplumsite,315732,2088,3 hours,199.2,LHS 2936,Fraser Orbital,L
39,Rhodplumsite,315732,2088,3 hours,199.2,LHS 2936,Fraser Orbital,L