In [1]:
import os
import os.path
import sys
from pathlib import Path
sys.path.insert(0, '..')
from elitetools import eddb
eddb.load_feeds(force_refresh=False)

demand_factor   = 4
max_jumps       = 2

In [3]:
ref_system       = "Dvorsi"

# Ship-related Attributes
# jump_range = 27.19; cargo_capacity = 672; large_pad_only = True;  ship_name = "Type 9 Newark"
# jump_range = 30.56; cargo_capacity = 512; large_pad_only = True;  ship_name = "Imperial Cutter Caliburnus"
# jump_range = 23.19; cargo_capacity = 192; large_pad_only = False; ship_name = "Python San Francisco"
# jump_range = 30.67; cargo_capacity = 256; large_pad_only = False; ship_name = "Python Manhattan"
# jump_range = 32.38; cargo_capacity = 128; large_pad_only = False; ship_name = "Python Philadelphia"

ref_system           = 'Azrael'
ref_radius           = 500
cargo_capacity       = 128

core_ref_system      = 'Azrael'
core_ref_radius      = max_jumps     * 23.19
core_min_demand      = demand_factor * 192
core_large_pad_only  = False

laser_ref_system     = 'Azrael'
laser_ref_radius     = max_jumps     * 30.56
laser_min_demand     = demand_factor * 512
laser_large_pad_only = False

## Top Score Mineral Listings ##

In [4]:
eddb.top_score_mineral_listings(ref_system, ref_radius, commodity_count=3, top_count=25)

## Top Performance Core Mineral Listings ##

In [5]:
eddb.top_perf_mineral_listings(core_ref_system, core_ref_radius, by_commodity=eddb.top_core_minerals, commodity_count=3, top_count=10, min_demand=core_min_demand, large_pad_only=core_large_pad_only)

## Top Price Core Mineral Listings ##

In [9]:
eddb.top_price_mineral_listings(core_ref_system, core_ref_radius, by_commodity=eddb.top_core_minerals, commodity_count=3, top_count=10, min_demand=core_min_demand, large_pad_only=core_large_pad_only)

## Top Performance Laser Mineral Listings ##

In [7]:
eddb.top_perf_mineral_listings(laser_ref_system, laser_ref_radius, commodity_count=3, top_count=10, min_demand=laser_min_demand, large_pad_only=laser_large_pad_only)

## Top Price Laser Mineral Listings ##

In [8]:
eddb.top_price_mineral_listings(laser_ref_system, laser_ref_radius, commodity_count=3, top_count=10, min_demand=laser_min_demand, large_pad_only=laser_large_pad_only)