In [1]:
import os
import os.path
import sys
from pathlib import Path
sys.path.insert(0, '..')
from elitetools import eddb
eddb.load_feeds()

# Downloading "C:\Users\komin\AppData\Local\Temp\elite-tools\archive-v6-commodities.json".
# Feeds.COMMODITIES records loaded:  373
# Downloading "C:\Users\komin\AppData\Local\Temp\elite-tools\archive-v6-listings.csv".
# Feeds.PRICES records loaded:  4190866
# Downloading "C:\Users\komin\AppData\Local\Temp\elite-tools\archive-v6-factions.jsonl".
# Feeds.FACTIONS records loaded:  77157
# Downloading "C:\Users\komin\AppData\Local\Temp\elite-tools\archive-v6-systems_populated.jsonl".
# Feeds.POPULATED_SYSTEMS records loaded:  20568
# Downloading "C:\Users\komin\AppData\Local\Temp\elite-tools\archive-v6-stations.jsonl".
# Feeds.STATIONS records loaded:  76405
# Scraping "C:\Users\komin\AppData\Local\Temp\elite-tools\scraped_listings.jsonl".
# Alexandrite: 25 listings scraped.
# Benitoite: 25 listings scraped.
# Bromellite: 25 listings scraped.
# Grandidierite: 25 listings scraped.
# Low Temperature Diamonds: 25 listings scraped.
# Monazite: 25 listings scraped.
# Musgravite: 25 listings scraped.
# Painite: 25 listings scraped.
# Platinum: 25 listings scraped.
# Rhodplumsite: 25 listings scraped.
# Serendibite: 25 listings scraped.
# Tritium: 25 listings scraped.
# Void Opals: 25 listings scraped.
# Real-time listing records loaded:  325

## Best Low Temperature Diamond Listings ##

In [2]:
eddb.best_rt_listings("Mosche", (259-0), top_count=10, by_commodity=['Low Temperature Diamonds'], min_demand=400)

,Commodity,Sell Price,Demand,As Of,Distance,System,Station,Pad
0,Low Temperature Diamonds,1159440,5560,26 mins,166.4,IV Comae Berenices,Litke Dock,L
1,Low Temperature Diamonds,1144280,25570,23 mins,92.8,LHS 1020,Ziewe Terminal,L
2,Low Temperature Diamonds,1144280,25920,4 hours,92.8,LHS 1020,Arfstrom City,L
3,Low Temperature Diamonds,1144280,25920,10 mins,92.8,LHS 1020,Babakin Terminal,L
4,Low Temperature Diamonds,1140130,2442,2 hours,251.3,Obassi Osaw,Teller Horizons,L
5,Low Temperature Diamonds,1032491,2484,5 hours,137.4,LP 493-64,Ramanujan Hub,L
6,Low Temperature Diamonds,1032491,908,17 hours,137.4,LP 493-64,Fossey Gateway,M
7,Low Temperature Diamonds,1001697,1476,2 days,125.3,Primi,Shimizu Gateway,M
8,Low Temperature Diamonds,1001697,1320,7 mins,227.4,Apadecavi,Fontenay City,L

## Best Painite Listings ##

In [3]:
eddb.best_rt_listings("GCRV 1568", 210, top_count=10, by_commodity=['Painite'], min_demand = 800)

,Commodity,Sell Price,Demand,As Of,Distance,System,Station,Pad
0,Painite,792088,1276,21 mins,29.8,HIP 14211,Williams Dock,L
1,Painite,792088,1546,2 hours,85.1,Obassi Osaw,Teller Horizons,L
2,Painite,656538,1150,17 hours,146.6,LP 493-64,Fossey Gateway,M
3,Painite,656538,3146,5 hours,146.6,LP 493-64,Ramanujan Hub,L
4,Painite,639055,1000,7 mins,82.0,Apadecavi,Fontenay City,L

## Best Void Opal Listings ##

In [4]:
eddb.best_rt_listings("Vindinepu", (259-38), top_count=10, by_commodity=['Void Opals'], min_demand=400)

,Commodity,Sell Price,Demand,As Of,Distance,System,Station,Pad
0,Void Opals,1385516,4716,27 mins,142.9,IV Comae Berenices,Litke Dock,L
1,Void Opals,1366748,5184,23 mins,108.9,LHS 1020,Ziewe Terminal,L
2,Void Opals,1366748,5184,4 hours,108.9,LHS 1020,Arfstrom City,L
3,Void Opals,1366748,5184,10 mins,108.9,LHS 1020,Babakin Terminal,L
4,Void Opals,1365184,1090,3 hours,135.2,Goller,Ban Enterprise,L
5,Void Opals,1365184,902,2 days,135.2,Goller,Shaw Port,M

## Best Core-Only Mineral Listings in Known Space ##

In [5]:
eddb.best_rt_listings('Mosche', 1000, top_count=3, by_commodity=eddb.core_only_minerals, min_demand=400)

,Commodity,Sell Price,Demand,As Of,Distance,System,Station,Pad
0,Void Opals,1385516,4716,27 mins,166.4,IV Comae Berenices,Litke Dock,L
1,Void Opals,1366748,5184,23 mins,92.8,LHS 1020,Ziewe Terminal,L
2,Void Opals,1366748,5184,4 hours,92.8,LHS 1020,Arfstrom City,L
3,Benitoite,1191593,1070,2 hours,474.5,Atlas,Cyllene Orbital,L
4,Serendibite,954200,1070,2 hours,474.5,Atlas,Cyllene Orbital,L
5,Musgravite,834486,1070,2 hours,474.5,Atlas,Cyllene Orbital,L
6,Musgravite,804869,1305,26 mins,166.4,IV Comae Berenices,Litke Dock,L
7,Musgravite,804869,669,1 days,108.1,Gaula Wu,Friedman Works,L
8,Grandidierite,780464,1070,2 hours,474.5,Atlas,Cyllene Orbital,L
9,Grandidierite,752204,669,1 days,108.1,Gaula Wu,Friedman Works,L
10,Grandidierite,752204,1305,26 mins,166.4,IV Comae Berenices,Litke Dock,L
11,Alexandrite,574913,620,7 mins,227.4,Apadecavi,Fontenay City,L
12,Alexandrite,552823,1070,2 hours,474.5,Atlas,Cyllene Orbital,L
13,Monazite,336742,1491,4 hours,165.2,LHS 2936,Zebrowski Orbital,M
14,Monazite,336742,3094,12 hours,165.2,LHS 2936,Kessel Port,M
15,Monazite,336742,3749,5 hours,165.2,LHS 2936,Fraser Orbital,L
16,Rhodplumsite,315732,2088,5 hours,165.2,LHS 2936,Fraser Orbital,L
17,Rhodplumsite,315732,2276,12 hours,165.2,LHS 2936,Kessel Port,M
18,Rhodplumsite,315732,1465,4 hours,165.2,LHS 2936,Zebrowski Orbital,M