In [1]:
import os
import os.path
import sys
from pathlib import Path
sys.path.insert(0, '..')
from elitetools import eddb
eddb.load_feeds(force_refresh=False)

In [2]:
ref_system           = 'Dvorsi'
ref_radius           = 500

# cargo_capacity = 672; large_pad_only = True
cargo_capacity = 256; large_pad_only = False

## Top Price Mineral Listings ##

In [7]:
eddb.top_price_mineral_listings(ref_system, ref_radius, by_commodity=eddb.top_minerals, commodity_count=3, top_count=100, large_pad_only=large_pad_only)

## Top Performance Mineral Listings ##

In [6]:
eddb.top_perf_mineral_listings(ref_system, ref_radius, by_commodity=eddb.top_minerals, commodity_count=3, top_count=100,  min_perf = 1.0, large_pad_only=large_pad_only)