In [26]:
import os
import os.path
import sys
from pathlib import Path
sys.path.insert(0, '..')
from elitetools import eddb
eddb.load_feeds()

In [27]:
ref_system           = 'Azrael'
ref_radius           = 500
cargo_capacity       = 196

core_ref_system      = 'Azrael'
core_ref_radius      = 259
core_cargo_capacity  = 196

laser_ref_system     = 'Azrael'
laser_ref_radius     = 209
laser_cargo_capacity = 640

min_demand           = 4 * cargo_capacity
core_min_demand      = 4 * core_cargo_capacity
laser_min_demand     = 4 * laser_cargo_capacity

## Top Performing Listing By Mineral ##

In [28]:
eddb.top_perf_mineral_listings(ref_system, ref_radius, commodity_count=1, top_count=100)

## Top Price Listing By Mineral ##

In [29]:
eddb.top_price_mineral_listings(ref_system, ref_radius, commodity_count=1, top_count=100)

## Top Scoring Listing By Mineral ##

In [30]:
eddb.top_score_mineral_listings(ref_system, ref_radius, commodity_count=1, top_count=100, min_score = 0.0)

# Top Performing Mineral Listings #

In [31]:
eddb.top_perf_mineral_listings(ref_system, ref_radius, commodity_count=5, top_count=25, min_perf = 1.0)

## Top Core Mineral Price Listings ##

In [32]:
eddb.top_price_mineral_listings(core_ref_system, core_ref_radius, commodity_count=5, top_count=25, by_commodity=eddb.top_core_minerals, min_demand=core_min_demand)

## Top Laser Mineral Price Listings ##

In [33]:
eddb.top_price_mineral_listings(laser_ref_system, laser_ref_radius, commodity_count=5, top_count=25, by_commodity=eddb.top_laser_minerals, min_demand=laser_min_demand)

## Top Scoring Mineral Listings ##

In [34]:
eddb.top_score_mineral_listings(ref_system, ref_radius, commodity_count=5, top_count=25, min_score = 1.0)