In [1]:
import os
import os.path
import sys
from pathlib import Path
sys.path.insert(0, '..')
from elitetools import eddb
eddb.load_feeds()

# Best Mineral Listings #

In [2]:
eddb.best_scoring_minerals('Sol', 500, commodity_count=10, top_count=15, min_score = 1.0)

,Commodity,Sell Price,Demand,As Of,Distance,System,Station,Pad,Score,Amount
0,Painite,790072,1491,17 mins,135.0,Muri,Vasquez de Coronado Dock,L,1.707,151.7
1,Painite,779449,1726,5 mins,374.3,Pleiades Sector HR-W d1-41,Malthus Terminal,L,1.684,149.7
2,Painite,777968,2066,5 mins,81.4,Unktock,Baird Station,L,1.681,149.4
3,Painite,750354,1050,31 mins,54.3,Daha Deti,Carleson Ring,L,1.621,144.1
4,Void Opals,1365184,706,21 mins,97.5,40 Ceti,Pailes Enterprise,L,1.365,131.1
5,Painite,621573,6512,17 hours,88.6,Malloc,Julian Gateway,L,1.343,119.3
6,Painite,621573,3070,6 hours,88.6,Malloc,Onizuka Ring,M,1.343,119.3
7,Void Opals,1332634,414,5 mins,374.3,Pleiades Sector HR-W d1-41,Malthus Terminal,L,1.333,127.9
8,Painite,594680,6062,6 hours,143.1,HIP 20277,Fabian City,L,1.285,114.2
9,Painite,559116,1074,1 hours,79.6,Frog,Kempston Hardwick,L,1.208,107.4
10,Painite,559116,772,3 hours,79.6,Frog,Rochester,L,1.208,107.4
11,Painite,556428,16768,49 mins,180.2,Nortes,Hobbes Hope,L,1.202,106.8
12,Benitoite,1191593,1070,5 mins,374.3,Pleiades Sector HR-W d1-41,Malthus Terminal,L,1.192,114.4
13,Void Opals,1089105,387,17 hours,88.6,Malloc,Julian Gateway,L,1.089,104.6
14,Low Temperature Diamonds,933956,430,5 mins,374.3,Pleiades Sector HR-W d1-41,Malthus Terminal,L,1.078,89.7

## Best Low Temperature Diamond Prices ##

In [3]:
eddb.best_rt_listings("Mosche", (259-0), top_count=10, by_commodity=['Low Temperature Diamonds'], min_demand=400)

,Commodity,Sell Price,Demand,As Of,Distance,System,Station,Pad
0,Low Temperature Diamonds,874938,496,14 mins,133.0,Artemis,Laphrian Shipyard,L
1,Low Temperature Diamonds,850033,776,12 mins,18.2,Mac Og,Amis Dock,L
2,Low Temperature Diamonds,833945,940,8 hours,162.6,Lenore,Kregel Station,M
3,Low Temperature Diamonds,831838,1753,15 hours,71.0,Veroandi,Henson Station,M
4,Low Temperature Diamonds,829965,1130,9 hours,180.6,Toluku,Rotsler Terminal,M
5,Low Temperature Diamonds,819185,758,15 hours,180.6,Toluku,Priest Dock,M
6,Low Temperature Diamonds,818317,614,3 hours,161.1,NLTT 8084,Surayev Hub,L
7,Low Temperature Diamonds,814949,879,21 mins,109.6,Zaragas,Jenner Hub,L

## Best Painite Prices ##

In [4]:
eddb.best_rt_listings("GCRV 1568", (219-0), top_count=10, by_commodity=['Painite'], min_demand = 800)

,Commodity,Sell Price,Demand,As Of,Distance,System,Station,Pad
0,Painite,790072,1491,17 mins,140.9,Muri,Vasquez de Coronado Dock,L
1,Painite,777968,2066,5 mins,51.0,Unktock,Baird Station,L
2,Painite,750354,1050,31 mins,145.9,Daha Deti,Carleson Ring,L
3,Painite,621573,3070,6 hours,161.3,Malloc,Onizuka Ring,M
4,Painite,621573,6512,17 hours,161.3,Malloc,Julian Gateway,L
5,Painite,594680,6062,6 hours,166.1,HIP 20277,Fabian City,L

## Best Void Opal Prices ##

In [5]:
eddb.best_rt_listings("Vindinepu", (259-38), top_count=10, by_commodity=['Void Opals'], min_demand=400)

,Commodity,Sell Price,Demand,As Of,Distance,System,Station,Pad
0,Void Opals,1365184,706,21 mins,175.8,40 Ceti,Pailes Enterprise,L
1,Void Opals,963019,496,22 hours,100.0,Lansbury,Henson Laboratory,M

## Best Listing Per Mineral in Core Region ##

In [6]:
eddb.best_scoring_minerals('Sol', 250, commodity_count=1, top_count=25, min_score = 0.0)

,Commodity,Sell Price,Demand,As Of,Distance,System,Station,Pad,Score,Amount
0,Painite,790072,1491,17 mins,135.0,Muri,Vasquez de Coronado Dock,L,1.707,151.7
1,Void Opals,1365184,706,21 mins,97.5,40 Ceti,Pailes Enterprise,L,1.365,131.1
2,Low Temperature Diamonds,874938,496,14 mins,69.4,Artemis,Laphrian Shipyard,L,1.010,84.0
3,Benitoite,929666,812,49 mins,180.2,Nortes,Hobbes Hope,L,0.930,89.2
4,Musgravite,814742,812,49 mins,180.2,Nortes,Hobbes Hope,L,0.815,78.2
5,Serendibite,771629,812,50 mins,180.2,Nortes,Hobbes Hope,L,0.772,74.1
6,Grandidierite,761623,812,49 mins,180.2,Nortes,Hobbes Hope,L,0.762,73.1
7,Alexandrite,559755,748,6 hours,88.6,Malloc,Onizuka Ring,M,0.560,53.7
8,Monazite,336742,3094,17 hours,64.0,LHS 2936,Kessel Port,M,0.337,32.3
9,Rhodplumsite,315732,2088,7 hours,64.0,LHS 2936,Fraser Orbital,L,0.316,30.3
10,Platinum,66945,43687,2 days,206.0,Kapoongzi,Jones Hub,L,0.145,12.9
11,Bromellite,8805,6135,5 hours,79.6,Frog,Kroehl Lab,L,0.009,0.8

## Best Listing Per Mineral in Known Space ##

In [7]:
eddb.best_scoring_minerals('Sol', 10000, commodity_count=1, top_count=25, min_score = 0.0)

,Commodity,Sell Price,Demand,As Of,Distance,System,Station,Pad,Score,Amount
0,Painite,790072,1491,17 mins,135.0,Muri,Vasquez de Coronado Dock,L,1.707,151.7
1,Void Opals,1365184,706,21 mins,97.5,40 Ceti,Pailes Enterprise,L,1.365,131.1
2,Benitoite,1191593,1070,5 mins,374.3,Pleiades Sector HR-W d1-41,Malthus Terminal,L,1.192,114.4
3,Low Temperature Diamonds,933956,430,5 mins,374.3,Pleiades Sector HR-W d1-41,Malthus Terminal,L,1.078,89.7
4,Serendibite,954200,1070,5 mins,374.3,Pleiades Sector HR-W d1-41,Malthus Terminal,L,0.954,91.6
5,Musgravite,834486,1070,5 mins,374.3,Pleiades Sector HR-W d1-41,Malthus Terminal,L,0.834,80.1
6,Grandidierite,780464,1070,5 mins,374.3,Pleiades Sector HR-W d1-41,Malthus Terminal,L,0.780,74.9
7,Alexandrite,559755,748,6 hours,88.6,Malloc,Onizuka Ring,M,0.560,53.7
8,Monazite,336742,1491,2 days,64.0,LHS 2936,Zebrowski Orbital,M,0.337,32.3
9,Rhodplumsite,315732,1465,2 days,64.0,LHS 2936,Zebrowski Orbital,M,0.316,30.3
10,Platinum,66990,15942,22 days,216.5,Maiki,Salpeter Terminal,M,0.145,12.9
11,Bromellite,8805,6135,5 hours,79.6,Frog,Kroehl Lab,L,0.009,0.8

## Best Listing Per Mineral in Colonia Region

In [8]:
eddb.best_scoring_minerals('Colonia', 250, commodity_count=1, top_count=25, min_score = 0.0)

,Commodity,Sell Price,Demand,As Of,Distance,System,Station,Pad,Score,Amount
0,Painite,790740,1401,3 hours,29.5,Benzaiten,Zhu Oasis,M,1.708,151.8
1,Void Opals,1332634,455,3 hours,29.5,Benzaiten,Zhu Oasis,M,1.333,127.9
2,Benitoite,959622,455,3 hours,29.5,Benzaiten,Zhu Oasis,M,0.960,92.1
3,Serendibite,776160,455,3 hours,29.5,Benzaiten,Zhu Oasis,M,0.776,74.5
4,Musgravite,682564,455,3 hours,29.5,Benzaiten,Zhu Oasis,M,0.683,65.5
5,Grandidierite,634923,455,3 hours,29.5,Benzaiten,Zhu Oasis,M,0.635,61.0
6,Alexandrite,460621,455,3 hours,29.5,Benzaiten,Zhu Oasis,M,0.461,44.2
7,Bromellite,8791,26830,3 mins,0.0,Colonia,Jaques Station,L,0.009,0.8