In [1]:
import os
import os.path
import sys
import pandas as pd
from pathlib import Path
sys.path.insert(0, '..')
from elitetools import eddb
eddb.load_feeds()

# Found "C:\Users\komin\AppData\Local\Temp\elite-tools\archive-v6-commodities.json".
# Feeds.COMMODITIES records loaded:  373
# Found "C:\Users\komin\AppData\Local\Temp\elite-tools\archive-v6-listings.csv".
# Feeds.PRICES records loaded:  4190425
# Found "C:\Users\komin\AppData\Local\Temp\elite-tools\archive-v6-factions.jsonl".
# Feeds.FACTIONS records loaded:  77146
# Found "C:\Users\komin\AppData\Local\Temp\elite-tools\archive-v6-systems_populated.jsonl".
# Feeds.POPULATED_SYSTEMS records loaded:  33875
# Found "C:\Users\komin\AppData\Local\Temp\elite-tools\archive-v6-stations.jsonl".
# Feeds.STATIONS records loaded:  74932
# Scraping "C:\Users\komin\AppData\Local\Temp\elite-tools\scraped_listings.jsonl".
# Alexandrite: 25 listings scraped.
# Benitoite: 25 listings scraped.
# Bromellite: 25 listings scraped.
# Grandidierite: 25 listings scraped.
# Low Temperature Diamonds: 25 listings scraped.
# Monazite: 25 listings scraped.
# Musgravite: 25 listings scraped.
# Painite: 25 listings scraped.
# Platinum: 25 listings scraped.
# Rhodplumsite: 25 listings scraped.
# Serendibite: 25 listings scraped.
# Tritium: 25 listings scraped.
# Void Opals: 25 listings scraped.
# Real-time listing records loaded:  325

## Distance From ##

In [12]:
targets = ['']
destinations = ['Azrael', 'Shinrarta Dezhra', 'Sol', 'Achenar', 'Alioth', 'Asterope', 'Pencil Sector EL-Y D5', 'Colonia']
destinations += targets
df_data = {'Distance From:': destinations}
for target_name in targets:
    df_data[target_name] = [eddb.distance(target_name, d) for d in destinations]
distance_from = pd.DataFrame(df_data)
distance_from

             System Name  GCRV 1568  HR 8461
0                 Azrael      160.8    234.3
1       Shinrarta Dezhra      163.2    232.9
2                    Sol      109.5    179.3
3                Achenar      158.4    216.8
4                 Alioth      149.1    210.4
5               Asterope      267.3    376.8
6  Pencil Sector EL-Y D5      853.6    972.1
7                Colonia    22058.0  21902.3
8              GCRV 1568        0.0    166.4
9                HR 8461      166.4      0.0