In [1]:
import os
import os.path
import sys
import pandas as pd
from pathlib import Path
sys.path.insert(0, '..')
from elitetools import eddb
eddb.load_feeds()

# Found "C:\Users\komin\AppData\Local\Temp\elite-tools\archive-v6-commodities.json".
# Feeds.COMMODITIES records loaded:  373
# Found "C:\Users\komin\AppData\Local\Temp\elite-tools\archive-v6-listings.csv".
# Feeds.PRICES records loaded:  4191028
# Found "C:\Users\komin\AppData\Local\Temp\elite-tools\archive-v6-factions.jsonl".
# Feeds.FACTIONS records loaded:  77156
# Found "C:\Users\komin\AppData\Local\Temp\elite-tools\archive-v6-systems_populated.jsonl".
# Feeds.POPULATED_SYSTEMS records loaded:  20568
# Found "C:\Users\komin\AppData\Local\Temp\elite-tools\archive-v6-stations.jsonl".
# Feeds.STATIONS records loaded:  76104
# Scraping "C:\Users\komin\AppData\Local\Temp\elite-tools\scraped_listings.jsonl".
# Alexandrite: 25 listings scraped.
# Benitoite: 25 listings scraped.
# Bromellite: 25 listings scraped.
# Grandidierite: 25 listings scraped.
# Low Temperature Diamonds: 25 listings scraped.
# Monazite: 25 listings scraped.
# Musgravite: 25 listings scraped.
# Painite: 25 listings scraped.
# Platinum: 25 listings scraped.
# Rhodplumsite: 25 listings scraped.
# Serendibite: 25 listings scraped.
# Tritium: 25 listings scraped.
# Void Opals: 25 listings scraped.
# Real-time listing records loaded:  325

## Distance From ##

In [6]:
targets = ['Bhare', 'Xi Phoenicis']
destinations = ['Azrael', 'Shinrarta Dezhra', 'Sol', 'Achenar', 'Alioth', 'Asterope', 'Pencil Sector EL-Y D5', 'Colonia']
destinations += targets
df_data = {'Distance From:': destinations}
for target_name in targets:
    df_data[target_name] = [eddb.distance(target_name, d) for d in destinations]
distance_from = pd.DataFrame(df_data)
distance_from

          Distance From:    Bhare  Xi Phoenicis
0                 Azrael    111.9          97.4
1       Shinrarta Dezhra    133.7         213.6
2                    Sol    130.7         218.6
3                Achenar     97.7          82.5
4                 Alioth    203.0         301.1
5               Asterope    443.5         431.0
6  Pencil Sector EL-Y D5    823.1         761.6
7                Colonia  21914.2       21976.4
8                  Bhare      0.0         134.2
9           Xi Phoenicis    134.2           0.0