In [1]:
import eddb
eddb.load_feeds()

# Found "C:\Users\komin\AppData\Local\Temp\elite-tools\archive-v6-systems_populated.jsonl".
# Feeds.POPULATED_SYSTEMS records loaded:  20629
# Found "C:\Users\komin\AppData\Local\Temp\elite-tools\archive-v6-systems_populated.jsonl".
# Feeds.POPULATED_SYSTEMS records loaded:  20629
# Found "C:\Users\komin\AppData\Local\Temp\elite-tools\archive-v6-stations.jsonl".
# Feeds.STATIONS records loaded:  49461
# Found "C:\Users\komin\AppData\Local\Temp\elite-tools\archive-v6-factions.jsonl".
# Feeds.FACTIONS records loaded:  77096
# Found "C:\Users\komin\AppData\Local\Temp\elite-tools\archive-v6-factions.jsonl".
# Feeds.FACTIONS records loaded:  77096

In [2]:
origin = input("Home System: ")

In [3]:
core_systems = eddb.query_nearby_systems(origin, eddb.SYSTEM_INFLUENCE_RANGE)
extended_systems = eddb.query_nearby_systems(core_systems, eddb.SYSTEM_INFLUENCE_RANGE)
system_summaries = eddb.system_survey_report(extended_systems, origin)
system_summaries.sort_values(by='Distance')
system_summaries.to_clipboard(header=None, index=False)
system_summaries

              Name  Distance  Population Primary Economy Reserve Level
0      Gongalungul      24.0    47190898       High Tech          None
1       Ch'in Yang      27.4     4295353      Industrial          None
2         Zhangana      30.6      164642        Refinery      Depleted
3       Rabakshany      30.0   624542677     Agriculture          None
4    Epsilon Hydri      23.1       75000          Colony      Depleted
..             ...       ...         ...             ...           ...
139     Amphisatsu      37.5    91733109       High Tech          None
140        Wandjin      23.8      114523      Extraction          None
141          Samen      29.5  6494124293     Agriculture          None
142      Inupiates      37.5    33253110      Industrial          None
143     Skadjalini      38.5    20041269      Industrial          None

[144 rows x 5 columns]