In [1]:
import os
import os.path
import sys
from pathlib import Path
sys.path.insert(0, '..')
from elitetools import eddb
eddb.load_feeds()

In [10]:
ref_system       = "Ling Deti"
jump_range       = 19.46          # Laden jump range of mining ship
cargo_capacity   = 192            # Cargo capacity of mining ship

In [46]:
demand_factor   = 5
max_jumps       = 2

# Best Mineral Listings Nearby #

In [47]:
eddb.best_scoring_minerals(ref_system, jump_range * max_jumps, commodity_count=3, top_count=15)

,Commodity,Sell Price,Perf,Demand,As Of,Distance,System,Station,Pad,Score
0,Monazite,733423,2.65,1626,7 hours,36.7,Zvaithhogg,Laming Vision,L,55.0
1,Low Temperature Diamonds,320732,2.02,2219,3 hours,27.6,HIP 20277,Fabian City,L,40.0
2,Serendibite,490109,1.84,9886,3 days,31.6,Eotienses,Ritchey Port,M,37.0
3,Benitoite,484372,2.24,9886,3 days,31.6,Eotienses,Ritchey Port,M,36.0
4,Grandidierite,483460,1.45,9886,3 days,31.6,Eotienses,Ritchey Port,M,36.0
5,Musgravite,462541,1.33,7505,3 days,31.6,Eotienses,Ritchey Port,M,35.0
6,Void Opals,405658,2.00,3362,3 days,31.6,Eotienses,Ritchey Port,M,30.0
7,Alexandrite,373948,0.72,9886,3 days,31.6,Eotienses,Ritchey Port,M,28.0
8,Palladium,70964,0.40,25115,3 hours,27.6,HIP 20277,Fabian City,L,11.0
9,Gold,67224,0.41,28476,3 hours,27.6,HIP 20277,Fabian City,L,10.0
10,Samarium,48495,0.88,1770,3 days,34.4,Santupik,Wiggins Industrial Works,L,7.0

In [48]:
eddb.best_perf_minerals(ref_system, jump_range * max_jumps, commodity_count=3, top_count=15)

,Commodity,Sell Price,Perf,Demand,As Of,Distance,System,Station,Pad
0,Monazite,733423,2.65,1626,7 hours,36.7,Zvaithhogg,Laming Vision,L
1,Benitoite,484372,2.24,9886,3 days,31.6,Eotienses,Ritchey Port,M
2,Low Temperature Diamonds,320732,2.02,2219,3 hours,27.6,HIP 20277,Fabian City,L
3,Void Opals,405658,2.00,3362,3 days,31.6,Eotienses,Ritchey Port,M
4,Serendibite,490109,1.84,9886,3 days,31.6,Eotienses,Ritchey Port,M
5,Grandidierite,483460,1.45,9886,3 days,31.6,Eotienses,Ritchey Port,M
6,Musgravite,462541,1.33,7505,3 days,31.6,Eotienses,Ritchey Port,M
7,Samarium,48495,0.88,1770,3 days,34.4,Santupik,Wiggins Industrial Works,L
8,Alexandrite,373948,0.72,9886,3 days,31.6,Eotienses,Ritchey Port,M
9,Gold,67224,0.41,28476,3 hours,27.6,HIP 20277,Fabian City,L
10,Palladium,70964,0.40,25115,3 hours,27.6,HIP 20277,Fabian City,L

## Best Nearby Core Minerals Prices ##

In [49]:
eddb.best_rt_listings(ref_system, jump_range * max_jumps, top_count=3, by_commodity=eddb.top_core_minerals, min_demand = cargo_capacity * demand_factor)

,Commodity,Sell Price,Perf,Demand,As Of,Distance,System,Station,Pad
0,Monazite,733423,2.65,1626,7 hours,36.7,Zvaithhogg,Laming Vision,L
1,Serendibite,490109,1.84,9886,3 days,31.6,Eotienses,Ritchey Port,M
2,Grandidierite,483460,1.45,9886,3 days,31.6,Eotienses,Ritchey Port,M
3,Musgravite,462541,1.33,7505,3 days,31.6,Eotienses,Ritchey Port,M
4,Void Opals,405658,2.00,3362,3 days,31.6,Eotienses,Ritchey Port,M
5,Alexandrite,373948,0.72,9886,3 days,31.6,Eotienses,Ritchey Port,M
6,Low Temperature Diamonds,320732,2.02,2219,3 hours,27.6,HIP 20277,Fabian City,L

## Best Nearby Laser Minerals Prices ##

In [50]:
eddb.best_rt_listings(ref_system, jump_range * max_jumps, top_count=5, by_commodity=eddb.top_laser_minerals, min_demand = cargo_capacity * demand_factor)

,Commodity,Sell Price,Perf,Demand,As Of,Distance,System,Station,Pad
0,Palladium,70964,0.40,25115,3 hours,27.6,HIP 20277,Fabian City,L
1,Gold,67224,0.41,28476,3 hours,27.6,HIP 20277,Fabian City,L