In [15]:
import os
import os.path
import sys
from pathlib import Path
sys.path.insert(0, '..')
from elitetools import eddb
eddb.load_feeds()

In [16]:
demand_factor   = 4
max_jumps       = 2

main_system          = "LHS 492"
core_mining_system   = main_system 
hybrid_mining_system = main_system 
jump_range           = 20.28          # Laden jump range of mining ship
cargo_capacity       = 32             # Cargo capacity of mining ship

# Best Nearby Mineral Listings #

In [17]:
eddb.best_scoring_minerals(main_system, jump_range * max_jumps, commodity_count=5, top_count=15, min_score = 0.1)

C:\Users\camen\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\frame.py:1549: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  warnings.warn(

,Commodity,Sell Price,Sell/Avg,Demand,As Of,Distance,System,Station,Pad,Score
0,Platinum,285867,3.91,4087,2 hours,42.5,Mutujiali,Siegel Orbital,L,57.0
1,Low Temperature Diamonds,415220,2.90,1032,17 days,26.2,Kuwemargl,Pritchard Hub,M,52.0
2,Low Temperature Diamonds,408366,2.84,2611,16 days,20.6,Nagaybaks,Johnson Dock,M,51.0
3,Low Temperature Diamonds,398770,2.75,1034,16 days,40.8,HIP 107936,Schulhof Terminal,M,50.0
4,Musgravite,586606,1.95,10000,3 days,20.1,Regira,Samuda Dock,L,44.0
5,Serendibite,508525,1.94,5422,4 hours,29.6,LHS 3675,Broderick Gateway,L,38.0
6,Serendibite,501557,1.90,1219,2 days,14.1,Turir,Lethem Terminal,M,38.0
7,Benitoite,495673,2.32,5343,4 hours,29.6,LHS 3675,Broderick Gateway,L,37.0
8,Benitoite,491634,2.29,1206,2 days,14.1,Turir,Lethem Terminal,M,37.0
9,Void Opals,465079,2.44,1505,1 days,17.4,Rauta,Giraud Station,L,35.0
10,Void Opals,466748,2.45,1475,4 days,30.2,Orcus,Oort Gateway,M,35.0
11,Void Opals,466748,2.45,2209,3 days,46.8,CPC 22 212,Rechtin Gateway,M,35.0
12,Void Opals,464060,2.43,2362,9 hours,47.5,NLTT 56379,Xin Hub,L,35.0
13,Rhodplumsite,291865,0.65,1126,1 days,17.4,Rauta,Giraud Station,L,22.0
14,Gold,64193,0.35,630605,2 days,40.4,Yimanbin,Vaucanson Gateway,M,10.0

## Best Nearby Core Minerals Prices ##

In [18]:
eddb.best_rt_listings(hybrid_mining_system, jump_range * max_jumps, top_count=10, by_commodity=eddb.core_minerals, min_demand = cargo_capacity * demand_factor)

C:\Users\camen\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\frame.py:1549: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  warnings.warn(

,Commodity,Sell Price,Sell/Avg,Demand,As Of,Distance,System,Station,Pad
0,Musgravite,586606,1.95,10000,3 days,20.1,Regira,Samuda Dock,L
1,Serendibite,508525,1.94,5422,4 hours,29.6,LHS 3675,Broderick Gateway,L
2,Serendibite,501557,1.90,1219,2 days,14.1,Turir,Lethem Terminal,M
3,Benitoite,495673,2.32,5343,4 hours,29.6,LHS 3675,Broderick Gateway,L
4,Benitoite,491634,2.29,1206,2 days,14.1,Turir,Lethem Terminal,M
5,Void Opals,466748,2.45,1475,4 days,30.2,Orcus,Oort Gateway,M
6,Void Opals,466748,2.45,2209,3 days,46.8,CPC 22 212,Rechtin Gateway,M
7,Void Opals,465079,2.44,1505,1 days,17.4,Rauta,Giraud Station,L
8,Void Opals,464060,2.43,2362,9 hours,47.5,NLTT 56379,Xin Hub,L
9,Low Temperature Diamonds,415220,2.90,1032,17 days,26.2,Kuwemargl,Pritchard Hub,M
10,Low Temperature Diamonds,408366,2.84,2611,16 days,20.6,Nagaybaks,Johnson Dock,M
11,Low Temperature Diamonds,398770,2.75,1034,16 days,40.8,HIP 107936,Schulhof Terminal,M
12,Rhodplumsite,291865,0.65,1126,1 days,17.4,Rauta,Giraud Station,L
13,Platinum,285867,3.91,4087,2 hours,42.5,Mutujiali,Siegel Orbital,L

## Best Nearby Hybrid Minerals Prices ##

In [19]:
eddb.best_rt_listings(hybrid_mining_system, jump_range * max_jumps, top_count=10, by_commodity=['Painite', 'Palladium', 'Platinum'], min_demand = cargo_capacity * demand_factor)

C:\Users\camen\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\frame.py:1549: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  warnings.warn(

,Commodity,Sell Price,Sell/Avg,Demand,As Of,Distance,System,Station,Pad
0,Platinum,285867,3.91,4087,2 hours,42.5,Mutujiali,Siegel Orbital,L

## Best Nearby Listing Per Mineral ##

In [20]:
eddb.best_scoring_minerals(main_system, jump_range * max_jumps, commodity_count=1, top_count=25, min_score = 0.0)

C:\Users\camen\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\frame.py:1549: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  warnings.warn(

,Commodity,Sell Price,Sell/Avg,Demand,As Of,Distance,System,Station,Pad,Score
0,Platinum,285867,3.91,4087,2 hours,42.5,Mutujiali,Siegel Orbital,L,57.0
1,Low Temperature Diamonds,415220,2.90,1032,17 days,26.2,Kuwemargl,Pritchard Hub,M,52.0
2,Musgravite,586606,1.95,10000,3 days,20.1,Regira,Samuda Dock,L,44.0
3,Serendibite,508525,1.94,5422,4 hours,29.6,LHS 3675,Broderick Gateway,L,38.0
4,Benitoite,495673,2.32,5343,4 hours,29.6,LHS 3675,Broderick Gateway,L,37.0
5,Void Opals,465079,2.44,1505,1 days,17.4,Rauta,Giraud Station,L,35.0
6,Rhodplumsite,291865,0.65,1126,1 days,17.4,Rauta,Giraud Station,L,22.0
7,Gold,64193,0.35,630605,2 days,40.4,Yimanbin,Vaucanson Gateway,M,10.0

## Best Global Listing Per Mineral ##

In [21]:
eddb.best_scoring_minerals('Sol', 10000, commodity_count=1, top_count=25, min_score = 0.0)

C:\Users\camen\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\frame.py:1549: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  warnings.warn(

,Commodity,Sell Price,Sell/Avg,Demand,As Of,Distance,System,Station,Pad,Score
0,Musgravite,963191,3.85,1622,9 mins,114.5,Pongo,Antonelli City,L,72.0
1,Painite,341772,5.45,1525,9 mins,114.5,Pongo,Antonelli City,L,68.0
2,Benitoite,900571,5.03,2004,9 mins,114.5,Pongo,Antonelli City,L,68.0
3,Rhodplumsite,838778,3.74,11004,2 hours,158.8,Shapsugabus,Abe Dock,L,63.0
4,Platinum,287864,3.94,2323,2 hours,178.2,Senocidi,Hodgkin Dock,L,58.0
5,Serendibite,768226,3.45,2059,9 mins,114.5,Pongo,Antonelli City,L,58.0
6,Grandidierite,760034,2.85,2064,9 mins,114.5,Pongo,Antonelli City,L,57.0
7,Monazite,762766,2.80,1708,3 days,106.7,Pandra,Selye Station,M,57.0
8,Low Temperature Diamonds,444008,3.17,1556,16 days,262.1,Moyot,de Seversky Port,M,56.0
9,Alexandrite,698073,2.21,13217,2 hours,158.8,Shapsugabus,Abe Dock,L,52.0
10,Osmium,273000,5.04,69390,23 mins,64.0,LHS 2936,Fraser Orbital,L,41.0
11,Void Opals,478638,2.54,1239,5 days,102.2,Alano,Bondar City,M,36.0
12,Palladium,71182,0.41,15895,7 hours,194.8,Sibianoe,Impey Ring,L,11.0
13,Gold,67409,0.42,1673,5 days,232.5,Kaupolis,Mather Station,M,10.0
14,Bromellite,116667,2.83,29100,5 days,117.1,Lansbury,Henson Laboratory,M,9.0
15,Samarium,48517,0.88,1960,8 days,89.5,Munfayl,Tsarenko Industrial Forge,S,7.0
16,Tritium,61820,0.20,6101,5 hours,157.0,HIP 96834,Coblentz Horizons,L,5.0
17,Silver,49279,0.32,20882,1 days,175.8,No Choen,Akers Dock,L,4.0