In [1]:
import eddb
eddb.load_feeds()

# Found "C:\Users\komin\AppData\Local\Temp\elite-tools\archive-v6-systems_populated.jsonl".
# Feeds.POPULATED_SYSTEMS records loaded:  20629
# Found "C:\Users\komin\AppData\Local\Temp\elite-tools\archive-v6-systems_populated.jsonl".
# Feeds.POPULATED_SYSTEMS records loaded:  20629
# Found "C:\Users\komin\AppData\Local\Temp\elite-tools\archive-v6-stations.jsonl".
# Feeds.STATIONS records loaded:  49461
# Found "C:\Users\komin\AppData\Local\Temp\elite-tools\archive-v6-factions.jsonl".
# Feeds.FACTIONS records loaded:  77096
# Found "C:\Users\komin\AppData\Local\Temp\elite-tools\archive-v6-factions.jsonl".
# Feeds.FACTIONS records loaded:  77096

In [2]:
systems = input("Systems: ")
origin = eddb.center(systems)

In [3]:
radius = int(input("Radius (ly): "))
if radius == 0:
    radius = max(eddb.distance(origin, s.strip()) for s in systems.split(","))
radius

25

In [4]:
nearby_systems = eddb.query_nearby_systems(origin, radius)
system_summaries = eddb.system_survey_report(nearby_systems, origin)
system_summaries

                Name  Distance  Population Primary Economy Reserve Level
0         82 Eridani       5.3     3601898        Refinery        Common
1           Agastani      14.5  3388045847     Agriculture         Major
2     Alpha Centauri      17.7      100000      Extraction      Depleted
3          Arangorii      16.9  4767147183     Agriculture      Depleted
4          Aspelenie      22.4       43008          Colony          None
..               ...       ...         ...             ...           ...
98          Wolf 359      23.6      129999      Industrial      Depleted
99           YZ Ceti      13.5     7632775       High Tech        Common
100     Zeta Tucanae      11.4      145999       High Tech      Depleted
101  Zeta-1 Reticuli      20.1        2416      Extraction          None
102              Zhi      14.6      322711        Refinery          None

[103 rows x 5 columns]

In [5]:
system_summaries.to_clipboard(header=None, index=False)