In [1]:
import os
import os.path
import sys
from pathlib import Path
sys.path.insert(0, os.path.join(Path.home(), 'Projects', 'elite-tools', 'src'))
print(sys.path)
import eddb

['C:\\Users\\komin\\Projects\\elite-tools\\src', 'C:\\Users\\komin\\Projects\\elite-tools\\notebooks', 'C:\\Anaconda3\\python37.zip', 'C:\\Anaconda3\\DLLs', 'C:\\Anaconda3\\lib', 'C:\\Anaconda3', '', 'C:\\Anaconda3\\lib\\site-packages', 'C:\\Anaconda3\\lib\\site-packages\\win32', 'C:\\Anaconda3\\lib\\site-packages\\win32\\lib', 'C:\\Anaconda3\\lib\\site-packages\\Pythonwin', 'C:\\Anaconda3\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\komin\\.ipython']
Using existing file "C:\Users\komin\AppData\Local\Temp\elite-tools\archive-v6-systems_populated.jsonl" for Feeds.POPULATED_SYSTEMS.
# Populated systems loaded:  20628

In [16]:
origin = input("Origin: ")

Origin: NLTT 10055

In [11]:
destination = input("Destination: ")

Destination:

In [14]:
waypoints = [wp.strip() for wp in input("Waypoints: ").split(',')]

Waypoints: Carthage, Nu, Nzamnet, Aurgel, Ngun, Ombiko

In [17]:
eddb.route_to_dataframe(eddb.best_route(waypoints, origin, destination))

       System  Leg (ly)  Route (ly)
0  NLTT 10055         0           0
1          Nu        20          20
2        Ngun        18          38
3    Carthage        26          64
4      Ombiko        24          88
5     Nzamnet         9          97
6      Aurgel        21         118